.button {
  background-color: yellow;
  border-radius: 0px;
  color: blue;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  &--rounded {
    border-radius: 10px;
  }
}
